@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: hsl(0, 0%, 98%); /* Light Mode Background */
    --color-elements: hsl(0, 0%, 100%);  /* Light Mode Elements */
    --color-input: hsl(0, 0%, 52%);      /* Light Mode Input */
    --color-text: hsl(200, 15%, 8%);     /* Light Mode Text */
  }

  .dark {
    --color-background: hsl(207, 26%, 17%);  /* Dark Mode Background */
    --color-elements: hsl(209, 23%, 22%);    /* Dark Mode Elements */
    --color-input: hsl(0, 0%, 52%);          /* Dark Mode Input */
    --color-text: hsl(0, 0%, 100%);          /* Dark Mode Text */
  }

  body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-text));
  }

  input {
    background-color: hsl(var(--color-elements));
    color: hsl(var(--color-text));
    border-color: hsl(var(--color-input));
  }
}
